body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    font-size: 16px;
    color: #636363;
    background-color: #fff;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

*, 
*:after, 
*:before {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

/* Header */
.header {
    position: absolute;
    padding-top: 45px;
    top: 0;
    left: 190px;
    right: 0;
    z-index: 1000;
}

.header__top {
    display: inline-flex;
    align-items: center;
}

.cities {
    margin-left: 35px;
    margin-right: 205px;
}

.cities a {
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin-right: 30px;
    letter-spacing: 1.2px;
}

.cities a:first-child {
    color: #2F80ED;
    font-weight: 700;
}

.header__nav {
    margin-right: 45px;
}

.nav__link {
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    margin-right: 55px;
    letter-spacing: 1.6px;
}

.header__nav a:hover {
    font-weight: 700;
}

.header__btn {
    color: #2F80ED;
    background-color: #fff;
    border-radius: 50px;
    width: 180px;
    height: 50px;
    border: none;
    font-size: 16px;
    padding: 0;
}

/* Main */
.main__inner {
    display: block;
    margin-bottom: 15px;
}

.main__images {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.main__bgone {
    position: absolute;
    top: -95px;
    left: -85px;
    width: 2000px;
    height: 880px;
    border-radius: 80px 110px 110px 380px;
    transform-origin: bottom left;
    transform: 
        rotateX(25deg)
        rotateY(10deg) 
        skewX(-28deg) 
        scale(1.1);
    background-color: #2f81ed2c;
}

.main__bgtwo {
    position: absolute;
    top: -145px;
    left: 30px;
    width: 2000px;
    height: 880px;
    border-radius: 80px 110px 110px 315px;
    transform-origin: bottom left;
    transform: 
        rotateX(25deg) 
        rotateY(10deg) 
        skewX(-27deg) 
        scale(1.1);
    background-color: #2F80ED;
}

.main__bgimage {
    position: absolute;
    background: url('../images/main-bg/temp/main_bg.png') no-repeat;
    background-size: contain;
    top: 58px;
    left: 215px;
    width: 2000px;
    height: 100%;
    transform-origin: bottom left;
    transform: 
        rotateY(20deg) 
        rotateZ(-4deg) 
        skewX(25deg) 
        scale(.99);
}

.main__info {
    position: absolute;
    top: 225px;
    left: 1000px;
    width: 100%;
    max-width: 555px;
}

.main__location {
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.main__description {
    color: #fff;
    font-size: 41px;
    font-weight: 700;
    margin-bottom: 70px;
    line-height: 1.3em;
}

.main__subdescription {
    color: #fff;
    font-size: 18px;
    margin-bottom: 50px;
}

.supbtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 224px;
    height: 90px;
    background-color: #64e2cd84;
    border-radius: 50px;
}

.main__btn {
    width: 192px;
    height: 60px;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    background-color: #64E2CD;
    border: none;
}

.main__feedback {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 605px;
    left: 290px;
    color: #2F80ED;
    width: 300px;
    height: 330px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #F9FBFF 0%, #CADEF9 100%), #FFF;
    box-shadow: 0px 3px 50px rgba(119, 158, 255, 0.3);
    border-radius: 50%;
}

.main__estimate {
    font-size: 14px;
    margin-bottom: 15px;
}

.main__nums {
    font-size: 34px;
    font-weight: 700;
    margin-bottom: 15px;
}

.main__man {
    margin-bottom: 20px;
}

.main__name {
    font-size: 14px;
}

.main__prof {
    font-weight: 700;
}

.main__read {
    font-size: 10px;
}

/* Customer Development */
.custdev {
    background: url('../images/custdev/custdev1_bg.jpg') no-repeat;
    background-size: cover;
    height: 65vh;
    margin-bottom: 100px;
    padding-top: 0;
}

.custdev__inner {
    position: relative;
}

.custdev__title {
    padding-top: 120px;
    margin-bottom: 100px;
    font-size: 30px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}

.custdev__image {
    position: absolute;
    width: 227px;
    height: 232px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%);
    border-radius: 50%;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(20px);
    top: -45px;
    left: 1350px;
}

.custdev__blocks {
    display: flex;
    width: 810px;
    justify-content: space-between;
}

.custdev__block {
    width: 100%;
    max-width: 245px;
}

.block__title {
    color: #2F80ED;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    white-space: pre-line;
}

/* Course */
.course__inner {
    margin-bottom: 100px;
}

.course__intro {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 50px;
}

.course__description {
    display: flex;
    margin-bottom: 60px;
}

.course__items {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.course__item {
    width: 50%;
    margin-bottom: 60px;
}

.course__title {
    color: #2F80ED;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.course__text {
    white-space: pre-line;
}

.course__circle {
    margin-left: 150px;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.course__gradient {
    width: 89px;
    height: 89px;
    background-color: #ebf2ff;
    border-radius: 50%;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%);
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(5px);
}

.course__footer {
    color: #2F80ED;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border-bottom: 1px dashed #2F80ED;
    width: fit-content;
    border-width: 2px;
    padding-bottom: 5px;
}

/* Result */
.result {
    margin-bottom: 60px;
}

.result__inner {
    padding-top: 150px;
}

.result {
    background: url('../images/result/result_bg.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    margin-bottom: 120px;
}

.result__title {
    padding-top: 20px;
    margin: 0 0 40px 20px;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.result__items {
    display: flex;
    flex-wrap: wrap;
    width: 1400px;
    height: 650px;
    justify-content: space-between;
    margin: 0 auto;
}

.result__item {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    width: 680px;
    height: 285px;
    padding: 35px 55px 55px 165px;
    margin-bottom: 15px;
}

.result__image {
    position: absolute;
    top: 55px;
    left: 60px;
    z-index: 10;
}

.result__text {
    white-space: pre-line;
    color: #2F80ED;
    line-height: 1.4;
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 15px;
}

.result__subtext {
    line-height: 1.5;
}

/* Trust */
.trust {
    margin-bottom: 120px;
}

.trust__inner {
    position: relative;
}

.trust__title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 70px;
}

.trust__promo {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
}

.trust__movie img {
    border-radius: 10px;
}

.trust__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 352px;
    height: 212px;
    border-radius: 5px;
    box-shadow: 1px 1px 70px rgb(209, 218, 250);
}

.trust__name {
    font-size: 21px;
    font-weight: 700;
    color: #2F80ED;
    margin-bottom: 15px;
}

.trust__prof {
    font-size: 14px;
}

.trust__groups {
    display: flex;
    justify-content: space-between;
}

.trust__icon {
    position: relative;
    margin-bottom: 30px;
}

.trust__icon__two {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.trust__post {
    font-size: 15px;
    font-weight: 700;
    color: #2F80ED;
    text-transform: uppercase;
    white-space: pre-line;
    letter-spacing: 1px;
}

.trust__text {
    white-space: pre-line;
}

.trust__gradient {
    position: absolute;
    width: 197px;
    height: 197px;
    top: 465px;
    left: 1320px;
    z-index: 10;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%);
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(10px);
    border-radius: 50%;
}

/* Between Blocks */
.between__blocks {
    position: relative;
    overflow: hidden;
}

.gradient__cirle {
    position: absolute;
    width: 231px;
    height: 231px;
    left: 1730px;
    top: 900px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #FFFFFF 0%, #CADEF9 100%);
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(10px);
    border-radius: 50%;
}

/* Flow */
.flow {
    padding-bottom: 100px;
}

.flow__title {
    font-size: 30px;
    color: #000;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
}

.flow__photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flow__photo {
    margin-bottom: 20px;
    width: 24%;
}

/* Cost */
.cost {
    position: relative;
    overflow: hidden;
}

.cost__gradient {
    position: absolute;
    width: 141px;
    height: 141px;
    left: -40px;
    top: 545px;
    background: radial-gradient(68.31% 68.31% at 50% 50%, #6AAAFF 0%, #2F80ED 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, #FFFFFF;
    box-shadow: 0px 10px 50px rgba(119, 157, 255, 0.3);
    filter: blur(10px);
    border-radius: 50%;
}

.cost__background {
    position: absolute;
    width: 800px;
    height: 400px;
    left: 590px;
    top: 160px;
    background: rgba(47, 128, 237, 0.05);
    border-radius: 120px 65px 190px 80px;
    transform-origin: top left;
    transform: 
        perspective(500px)
        rotateX(9deg)
        rotateY(6deg)
        skewX(3deg);
}

.cost__inner {
    padding-top: 100px;
    text-align: center;
    margin-bottom: 250px;
}

.cost__title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom:70px;
}

.cost__prices {
    display: inline-flex;
    vertical-align: middle;
}

.cost__price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 271px;
    height: 293px;
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(47, 55, 237, 0.12);
    border-radius: 10px;
    position: relative;
    margin-right: 25px;
}

.price__nums {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 25px;
    line-height: 40px;
    color: #2F80ED;
    margin-bottom: 10px;
}

.cost__staff {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #2F80ED;
    margin-bottom: 50px;
}

.cost__btn {
    margin: 0 auto;
    width: 192px;
    height: 50px;
    background: #52D1BC;
    border-radius: 50px;
    border: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

.cost__benefit {
    position: absolute;
    left: 208px;
    top: -48px;    
    width: 90px;
    height: 90px;    
    background-color: #2F80ED;
    border-radius: 300px;
}

.benefit__text {
    padding-top: 40px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
}

/* Footer */
.footer {
    background: #2F80ED;
    padding-bottom: 50px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
    align-items: center;
}

.footer__cities a {
    text-decoration: none;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 20px;
    text-transform: uppercase;
}

.footer__cities a:first-child {
    font-weight: 700;
}

.footer__btn {
    width: 160px;
    height: 42px;
    background: #FFFFFF;
    border-radius: 50px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #2F80ED;
    border: none;
}

.sub__footer {
    background-color: #185FBF;
    padding: 40px 0;
}

.footer__info, .footer__politics {
    display: flex;
    justify-content: space-between;
}

.footer__rights,
.footer__agreement,
.footer__privacy {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    opacity: 0.7;
}

.footer__agreement {
    margin-right: 45px;
}

/* Media */
@media (min-width: 1980px) {
    
    /* Main */
    .main__bgimage {
        display: none;
    }

    /* Between Blocks */
    .gradient__cirle {
        display: none;
    }
}

@media (max-width: 1800px) {

    /* Header */
    .cities {
        margin-right: 90px;
    }

    .header__nav {
        margin-right: 25px;
    }
    
    .nav__link {
        margin-right: 60px;
    }

    .header__btn {
        width: 140px;
        height: 25px;
        font-size: 14px;
    }

    /* Main */
    .main__inner {
        margin-bottom: 30px;
    }

    .main__images {
        height: 90vh;
    }

    /* Customer Development */
    .custdev {
        background-size: cover;
        height: 40vh;
        margin-bottom: 10px;
    }
    
    .custdev__inner {
        margin-left: 150px;
    }

    .custdev__title {
        padding-top: 70px;
        margin-bottom: 40px;
        font-size: 25px;
    }

    .custdev__image {
        top: -25px;
        left: 1100px;
    }

    /* Result */
    .result {
        background-size: contain;
        height: 70vh;
        margin-bottom: 20px;
    }

    .result__inner {
        width: 950px;
        padding-top: 100px;
    }

    .result__title {
        padding-top: 5px;
        margin: 0 0 20px 20px;
        font-size: 25px;
        font-weight: 700;
    }

    .result__items {
        width: 950px;
        height: 500px;
        justify-content: space-evenly;
    }

    .result__item {
        width: 450px;
        height: 250px;
        padding: 10px 25px 25px 115px;
    }

    .result__image {
        top: 40px;
        left: 25px;
    }

    .result__text {
        line-height: 1;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
        padding: 0;
        margin-bottom: 15px;
    }

    /* Between Blocks */
    .gradient__cirle {
        left: 1250px;
        top: 850px;
    }

    /* Flow */
    .flow {
        padding-bottom: 0;
    }

    .flow__photo {
        margin-bottom: 10px;
        width: 24%;
    }

    /* Cost */
    .cost__background {
        left: 540px;
    }
}

@media (max-width: 1600px) {

    /* Header */
    .cities {
        margin-right: 30px;
    }

    .header__nav {
        margin-right: 25px;
    }
    
    .nav__link {
        margin-right: 25px;
    }

    /* Between Blocks */
    .gradient__cirle {
        display: none;
    }

    /* Cost */
    .cost__background {
        left: 445px;
    }

    /* Trust */
    .trust__gradient {
        display: none;
    }
}

@media (max-width: 1560px) {
    
    /* Main */
    .main__inner {
        margin-bottom: 50px;
        height: 75vh;
    }
    
    .main__info {
        left: 450px;
        width: 350px;
        text-align: center;
    }

    .main__location {
        font-size: 14px;
        margin-bottom: 25px;
    }
    
    .main__description {
        font-size: 22px;
        margin-bottom: 25px;
        line-height: 2;
    }
    
    .main__subdescription {
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .supbtn {
        margin: 0 auto;
        width: 224px;
        height: 90px;
    }
    
    .main__btn {
        width: 192px;
        height: 60px;
        font-size: 14px;
    }
    
    .main__feedback {
        top: 605px;
        left: 290px;
        width: 240px;
        height: 260px;
    }

    .main__nums {
        font-size: 24px;
    }

    /* Customer Development */
    .custdev__image {
        display: none;
    }

    /* Course */
    .course {
        margin: 0 0 50px 150px;
    }

    .course__description {
        margin-bottom: 10px;
    }

    /* Result */
    .result__inner {
        width: 950px;
        margin-left: 60px;
    }

    .result__title {
        padding-top: 0px;
        font-size: 20px;
    }

    /* Trust */ 
    .trust {
        margin-bottom: 10px;
    }

    .trust__inner {
        text-align: center;
    }      

    .trust__title {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .trust__promo {
        display: block;
        margin-bottom: 20px;
    }

    .trust__movie img {
        width: 70%;
    }

    .trust__card {
        width: 70%;
        box-shadow: none;
    }

    .trust__name {
        font-size: 50px;
    }

    .trust__prof {
        font-size: 30px;
    }
    
    .trust__groups {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 650px;
    }

    .trust__group {
        width: 300px;
        margin-bottom: 50px;
    }
    
    .trust__icon {
        margin: 0;
    }

    .trust__icon__two {
        left: 120px;
    }

    /* Flow */
    .flow {
        margin-bottom: 40px;
    }
    
    /* Cost */
    .cost__inner {
        padding-top: 0px;
    }

    .cost__gradient {
        display: none;
    }

    .cost__background {
        display: none;
    }

    .cost__inner {
        margin-bottom: 80px;
    }

    .cost__title {
        margin-bottom: 30px;
    }

    /* Footer */
    .footer__inner, 
    .footer__info {
        justify-content: center;
    }

    .footer__cities,
    .footer__rights {
        margin-right: 100px;
    }
}

@media (max-width: 1400px) {
    
    /* Header */
    .header {
        text-align: center;
    }

    .header__top {
        display: inline-block;
        width: 700px;
    }

    .cities {
        margin-bottom: 15px;
    }

    .cities a:first-child {
        color: #fff;
        font-weight: 400;
    }

    .header__btn {
        display: none;
    }

    /* Course */
    .course {
        margin-bottom: 10px;
    }

    /* Result */
    .result {
        height: 60vh;
    }
    .result__inner {
        padding-top: 25px;
        margin: 0 auto;
    }

    .result__title {
        color: #000;
        text-align: center;
        font-size: 32px;
    }
}

@media (max-width: 1160px) {
    /* Main */
    .main__inner {
        margin-bottom: 5px;
    }

    /* Customer Development */
    .custdev {
        height: 30vh;
    }

    .custdev__title {
        padding-top: 40px;
        margin-bottom: 25px;
    }

    /* Course */
    .course__inner {
        margin-bottom: 40px;
    }

    .course__intro {
        margin-bottom: 15px;
    }

    .course__item {
        margin-bottom: 30px;
    }

    /* Result */
    .result {
        height: 45vh;
    }

    .result__inner {
        padding: 0;
    }

    .result__items {
        width: 770px;
        height: 400px;
    }

    .result__item {
        width: 350px;
        height: 180px;
        padding: 5px;
        text-align: center;
        font-size: 12px;
    }

    .result__image {
        display:  none;
    }

    .result__text {
        font-size: 14px;
        line-height: 1.2;
    }

    /* Trust */
    .trust__title {
        margin-bottom: 15px;
    }

    .trust__movie img {
        width: 45%;
    }

    .trust__card {
        display: inline-block;
        margin-top: 15px;
        height: 100px;
    }

    .trust__name {
        font-size: 25px;
    }

    .trust__prof {
        font-size: 18px;
    }

    /* Flow */
    .flow__title {
        margin-bottom: 30px;
    }
    
    /* Cost */
    .cost__inner {
        margin-bottom: 40px;
    }

    .cost__prices {
       flex-wrap: wrap;
       width: 850px;
       justify-content: center;
    }
    
    .cost__price {
        margin-bottom: 25px;
    }

    .cost__benefit {
        top: -15px;
        left: 190px;
    }
}

@media (max-width: 980px) {
    /* Main */
    .header {
        left: 0;
    }

    .header__top, .cities, .header__nav {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .cities {
        margin-bottom: 15px;
    }

    .main__images {
        height: 100%;
    }

    .main__inner {
        height: 700px;
        background: url('../images/main-bg/stuff.jpg') no-repeat;
    }

    .main__info {
        left: 250px;
    }

    .main__bgone, .main__bgtwo {
        display: none;
    }

    .main__bgimage {
        top: 65px;
        left: 210px;
        transform: rotateY(15deg) rotateZ(-4deg) skewX(25deg) scale(.99);
    }

    .main__feedback {
        width: 190px;
        height: 200px;
        top: 450px;
        left: 45px;
    }

    /* Customer Devlopment */
    .custdev {
        background: none;
        height: 45%;
    }

    .custdev__inner {
        margin: 0;
    }

    .custdev__title {
        text-align: center;
    }

    .custdev__blocks {
        flex-direction: column;
        text-align: center;
        width: 450px;
        margin: 0 auto;
    }

    .custdev__block {
        max-width: max-content;
        margin-bottom: 20px;
    }

    /* Course */
    .course {
        margin: 0;
    }

    .course__intro {
        text-align: center;
    }

    .course__description {
        justify-content: center;
        text-align: center;
    }

    .course__footer {
        margin: 0 auto;
    }

    .course__circle {
        display: none;
    }

    /* Result */
    .result {
        background: none;
        height: auto;
        margin: 0 0 30px;
    }

    .result__inner {
        width: 100%;
        margin: 0;
    }

    .result__title {
        margin: 0 auto;
    }
    
    .result__items {
        display: inline-block;
        width: 100%;
        height: 100%;
    }

    .result__item {
        margin: 0 auto;
        padding: 0;
        width: 500px;
        height: 100%;
    }

    .result__image {
        display: none;
    }
}

@media (max-width: 770px) {
    /* Header */
    .cities {
        position: absolute;
        visibility: hidden;
        top: 25px; 
    }

    .citiesVisible.cities {
        visibility: visible;
    }

    .cities::before {
        position: absolute;
        content: url("../images/icons/iconmenu.png");
        filter: invert(1);
        margin: 5px;
        visibility: visible;
        left: 30px;
        top: -10px;
    }

    .header__nav {
        margin-left: 15px;
        margin-top: 10px;
    }
    .nav__link {
     margin-right: 15px;
    }

    /* Main */
    .main__info {
        top: 150px;
        left: 220px;
    }

    /* Cost */
    .cost__prices {
        width: 450px;
    }

    .cost__price {
        width: 200px;
        height: 250px;
    }

    .price__nums {
        font-size: 18px;
    }

    .cost__staff {
        font-size: 14px;
    }

    .cost__benefit {
        top: -10px;
        left: 140px;
        width: 70px;
        height: 70px;
        border-radius: 300px;
    }

    .benefit__text {
        font-size: 10px;
        font-weight: 700;
        padding: 0;
        margin-top: 29px ;
    }
    
    /* Trust */
    .trust__promo {
        margin-bottom: 5px;
    }

    .trust__groups {
        display: inline-block;
        margin: 0;
        width: 100%;
    }

    .trust__group {
        width: 300px;
        margin: 0 auto 25px;
    }

    .trust__icon__two {
        left: 120px;
    }

    .trust__text {
        text-align: center;
        white-space: normal;
    }

    /* Footer */
    .footer {
        text-align: center;
    }
    
    .footer__inner {
        display: inline-block;
        padding: 25px 0;
    }

    .footer__cities {
        margin: 0 0 15px 0;
    }
    
    .sub__footer {
        padding: 20px 0;
    }

    .footer__info {
        display: inline-block;
    }

    .footer__rights {
        margin: 0 0 5px;
    }
}

@media (max-width: 650px) {
    /* Main */
    .main__info {
        top: 110px;
        left: 200px;
    }

    .main__feedback {
        top: 460px;
        left: 100px;
    }

    /* Customer Development */
    .custdev__title {
        padding-top: 0;
        margin-top: 15px;
    }
}

@media (max-width: 550px) {
    /* Header */
    .cities {
        display: flex;
        flex-direction: column;
    }

    .cities a {
        margin: 0 0 5px;
    }

    .cities::before {
        margin: 5px;
        top: -10px;
    }

    .header__nav {
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 10px;
        align-items: flex-start;
        justify-content: space-between;
        height: 100px;
    }

    /* Main */
    .main__info {
        left: 20%;
    }

    .main__feedback {
        left: 35%;
    }

    /* Customer Development */
    .custdev {
        height: auto;
        margin: 0 10px 10px;
    }

    .custdev__title {
        font-size: 20px;
        margin: 0 0 15px 0;
    }

    .custdev__blocks {
        width: 100%;
    }

    .custdev__block {
        margin-bottom: 10px;
    }

    .block__title {
        font-size: 13px;
        white-space: normal;
        margin-bottom: 5px;
    }

    .block__text {
        font-size: 12px;
    }

    /* Course */
    .course {
        margin: 0 10px;
    }

    .course__inner {
        margin-bottom: 20px;
    }

    .course__intro {
        font-size: 20px;
    }

    .course__description {
        display: inline-block;
        width: 100%;
    }

    .course__items {
        display: inherit;
        width: 100%;
    }

    .course__item {
        width: 100%;
        margin: 0 auto 15px;
    }

    .course__text {
        white-space: normal;
    }

    .course__title {
        font-size: 12px;
    }

    .course__footer {
        font-size: 12px;
    }

    /* Result */
    .result {
        margin: 0 10px;
        width: 95%;
    }

    .result__item {
        margin: 0 0 15px 0;
        width: 100%;
    }

    .result__title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .result__text {
        font-size: 12px;
        white-space: normal;
        margin-bottom: 5px;
    }

    /* Trust */
    .trust {
        margin: 0 10px
    }

    .trust__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .trust__movie img {
        width: 85%;
    }

    .trust__card {
        margin-top: 5px;
        height: auto;
        width: 100%;
        margin-bottom: 15px;
    }

    .trust__name {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .trust__prof {
        font-size: 16px;
    }
    
    .trust__group {
        width: 100%;
        margin-bottom: 15px;
    }

    .trust__icon {
        margin-bottom: 5px;
    }

    .trust__icon__two {
        left: 43%;
    }
    
    .trust__post {
        font-size: 13px;
        white-space: normal;
    }

    /* Flow */
    .flow {
        margin-bottom: 10px;
    }

    .flow__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    /* Cost */
    .cost__inner { 
        margin-bottom: 15px;
    }
    .cost__title {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .cost__prices {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .cost__price {
        width: 85%;
        height: 150px;
        margin: 0 0 10px 0;
    }

    .price__nums {
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 1;
    }

    .cost__staff {
        font-size: 16px;
        margin-bottom: 10px;
    }

    .cost__benefit {
        top: 0px;
        left: 0px;
    }

    /* Footer */
    .footer__politics {
        flex-direction: column;
    }

    .footer__agreement {
        margin: 0;   
    }
}

@media (max-width: 440px) {
    /* Main */
    .main__info {
        top: 220px;
        left: 10%;
    }

    .main__location {
        margin-bottom: 10px;
        font-size: 12px;
    }

    .main__description {
        font-size: 17px;
        line-height: 1.5;
        margin-bottom: 10px;
    }

    .main__subdescription {
        font-size: 14px;
    }

    .supbtn {
        width: 200px;
        height: 75px;
    }

    .main__btn {
        width: 175px;
        height: 45px;
        font-size: 12px;
    }
    
    .main__feedback {
        left: 32%;
        width: 160px;
        height: 170px;
    }

    .main__estimate {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .main__nums {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .main__man {
        margin-bottom: 5px;
    }

    .main__name {
        font-size: 12px;
    }

    .main__prof {
        font-size: 14px;
    }
}